# APP_NAME (Optional): This variable allows you to specify the name of the service. Defaults to axum-service-starter.
APP_NAME=axum-service-starter

# SERVER HOST (Optional): This variable allows you to specify the host that the server will listen on. Defaults to 0.0.0.0 (all interfaces).
SERVER_HOST=0.0.0.0

# SERVER_PORT (Optional): This variable allows you to specify the port that the server will listen on. Defaults to 8080.
SERVER_PORT=8080

# SERVER_FILE_UPLOAD_MAX_SIZE_ENABLED (Optional): This variable allows you to specify whether the server will validate the size of files that are uploaded to it. Defaults to true.
SERVER_FILE_UPLOAD_MAX_SIZE_ENABLED=true

# SERVER_FILE_UPLOAD_MAX_SIZE (Optional): This variable allows you to specify the maximum size of files that can be uploaded to the server in bytes. Defaults to 10485760 bytes (10MB).
SERVER_FILE_UPLOAD_MAX_SIZE=10485760

# SERVER_ENVIRONMENT (Optional): This variable allows you to specify the environment that the server is running in (e.g. development, staging, production). Defaults to development.
SERVER_ENVIRONMENT=development

# SERVER_REQUEST_TIMEOUT (Optional): This variable allows you to specify the maximum duration a server will wait for a request to complete. Defaults to 15 seconds.
SERVER_REQUEST_TIMEOUT=15

# SECURITY_MAX_ACCESS_CONTROL_AGE (Optional): This variable allows you to specify the maximum age of a preflight request cache entry in seconds. Defaults to 600 seconds (10 minutes).
SECURITY_MAX_ACCESS_CONTROL_AGE=600

# OTEL_SERVICE_NAME (Optional): This variable allows you to specify the name of the service for OpenTelemetry. Defaults to axum-service-starter.
OTEL_SERVICE_NAME=axum-service-starter

# OTEL_EXPORTER_OTLP_ENDPOINT (Optional): This variable allows you to specify all of the OTLP endpoints for the OpenTelemetry exporters.
OTEL_EXPORTER_OTLP_ENDPOINT=

# OTEL_EXPORTER_OTLP_TRACES_ENDPOINT (Optional): This variable allows you to specify the OTLP endpoint for OpenTelemetry traces exporter.
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=

# OTEL_EXPORTER_OTLP_LOGS_ENDPOINT (Optional): This variable allows you to specify the OTLP endpoint for OpenTelemetry logs exporter.
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=

# OTEL_EXPORTER_OTLP_METRICS_ENDPOINT (Optional): This variable allows you to specify the OTLP endpoint for OpenTelemetry metrics exporter.

# OTEL_METRIC_EXPORT_INTERVAL (Optional): This variable allows you to specify the interval at which OpenTelemetry metrics are exported in milliseconds. Defaults to 10000 milliseconds (10 seconds).
OTEL_METRIC_EXPORT_INTERVAL=10000

# OTEL_PROVIDER (Optional): This variable allows you to specify the name of the OpenTelemetry provider.
OTEL_PROVIDER=

# OTEL_PROVIDER_ORGANIZATION (Optional): This variable allows you to specify the organization for the OpenTelemetry provider.
OTEL_PROVIDER_ORGANIZATION=

# OTEL_PROVIDER_STREAM_NAME (Optional): This variable allows you to specify the stream name for the OpenTelemetry provider.
OTEL_PROVIDER_STREAM_NAME=

# OTEL_PROVIDER_AUTH_TOKEN (Optional): This variable allows you to specify the authentication token for the OpenTelemetry provider.
OTEL_PROVIDER_AUTH_TOKEN=

# OTEL_SDK_DISABLED (Optional): This variable allows you to enable or disable OpenTelemetry. Defaults to false.
OTEL_SDK_DISABLED=false
